.message {
  .time {
    color: #888;

  }
  &.received {
    background: #f0f0ff;
  }
}
.aliases {
  display: none;
  .list-group-item {
    display: inline-block;
  }
}
a.glyphicon {
  cursor: pointer;
  text-decoration: none;
}
.search_form {
  padding: 20px 0;
}
.search_from_history {
  .search_form {
    display: none;
  }
}
