.message {
  .time {
    color: #888;

  }
  &.received {
    background: #f0f0ff;
  }
}
.aliases {
  display: none;
  .list-group-item {
    display: inline-block;
  }
}
a.glyphicon {
  cursor: pointer;
  text-decoration: none;
}